---
---
@import "bootstrap-sass-3.4.1/assets/stylesheets/bootstrap";

article {
  @extend .container;
}

.home {

  h2 {
    clear: both;
    @include make-md-column(4);
    @include make-lg-column(4);

    @media (min-width: $screen-md-min) {
      text-align: right;
    }
  }

  > p, > ul {
    @include make-md-column(8);
    @include make-lg-column(8);
    @media (min-width: $screen-md-min) {
      margin-top: 56px;
    }
  }

  > li {
    @media (min-width: $screen-md-min) {
      list-style: none;
    }
  }
}

.home, .projects {
  h1 {
    text-align: center;
  }
  .tag {
    @extend .label;
    @extend .label-default;
    .hash {
      color: $gray-lighter;
    }
  }

  .project-head {
    clear: both;
    @include make-md-column(4);
    @include make-lg-column(4);

    @media (min-width: $screen-md-min) {
      text-align: right;
    }
    img {
      max-width: 100%;
      padding-bottom: 20px;
    }
  }

  .project-body {
    @include make-md-column(8);
    @include make-lg-column(8);
    @media (min-width: $screen-md-min) {
      margin-top: 56px;
    }
  }
  .more-box {
    clear: both;
    @include make-md-column(8);
    @include make-lg-column(8);
    @include make-md-column-offset(4);
    @include make-lg-column-offset(4);
    margin-top: 20px;
    text-align: center;
    @media (min-width: $screen-md-min) {
      text-align: left;
    }
  }
  .more {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
  }
}

.project-page {
  .header {
    @extend .jumbotron;
    .tag {
      @extend .label;
      @extend .label-default;
    }
  }
  .thumb {
    @include make-md-column(4);
    @include make-lg-column(4);
    img {
      max-width: 100%;
      margin: 10px 0;
    }
  }
  .body {
    @include make-md-column(8);
    @include make-lg-column(8);
    .image {
      text-align: center;
      margin: 20px;
    }
    img {
      max-width: 100%;
    }
    video {
      max-width: 100%;
    }
    iframe {
      max-width: 100%;
    }
  }
}

.metadata {
  background-color: #f9f9f9;
  color: #999;
  font-size: 80%;
  text-align: center;
  margin: 30px;
}

footer {
  margin-top: 40px;
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
