{% assign project=include.project %}

<div class="project-head">
  <a href="{{ project.url }}">
    <h3>{{project.title}}</h3>
    <img src="/projects/assets/{{project.path | split: '/' | last | replace: '.md', '.thumb.webp'}}">
  </a>
</div>

<div class="project-body">
  {{ project.excerpt }}
  <p><a href="{{ project.url }}">More &raquo;</a></p>
  {% include tags.html tags=project.tags %}
</div>
