<!DOCTYPE html>
<html lang="ja-JP">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>{{ page.title }}</title>
  <link media="screen" rel="stylesheet" href="/main.css">
</head>
<body>
  <article>
    {{ content }}
  </article>

  {% if page.docid %}
    <section class="metadata">
      Permanent ID of this document: {{ page.docid }}
    </section>
  {% endif %}

  <footer>
    &copy; Shun Ikejima 2014-2023<br>
    <a href="/">Home</a><br>
    This page uses Bootstrap-sass, Google analytis, WebHero.
  </footer>
</body>
<script>
  if(navigator.userAgent.indexOf("Speed Insights") == -1) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1566138-3', 'ikejima.org');
    ga('send', 'pageview');
  }
</script>
<script src="/assets/polyfills.js"></script>
<script src="/assets/webp-hero.bundle.js"></script>
<script>
	var webpMachine = new webpHero.WebpMachine()
	webpMachine.polyfillDocument()
</script>
</html>
