---
layout: default
---
<div class="home">
{{content}}

<h2><a href="/projects.html">Projects</a></h2>

{% assign projects = site.projects | reverse %}
{% for project in projects limit:3 %}

{% include project.html project=project %}

{% endfor %}

<div class="more-box">
  <a class="more" href="/projects.html">More projects</a>
</div>

</div>
