---
layout: default
---
<div class="projects">
  <h1>Projects <span id="title"></span></h1>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li id="project" class="active"><a href="/projects.html">Projects</a></li>
    <li id="hash" class="active" style="display:none"></li>
  </ol>

  <!-- tags -->
  {% assign all_tags = '' | split: ',' %}
  {% for project in site.projects reversed%}
    {% for tag in project.tags %}
      {% assign all_tags = all_tags | push: tag %}
    {% endfor %}
  {% endfor %}
  {% assign all_tags = all_tags | uniq %}
  {% include tags.html tags=all_tags %}

  {% for project in site.projects reversed%}

  <div class="project">
    {% include project.html project=project %}
  </div>

  {% endfor %}
  <script>
    function update() {
      var tag = location.hash;
      document.getElementById("title").textContent = tag;
      var hashEl = document.getElementById('hash');
      var curEl = document.getElementById('project');
      if (tag == "") {
        hashEl.style.display = 'none';
        curEl.className = 'active'
      } else {
        hashEl.textContent = tag;
        hashEl.style.display = '';
        curEl.className = ''
      }
      var projects = document.getElementsByClassName('project');
      for(var i=0;i<projects.length;i++) {
        var project = projects[i];
        project.style.display =
          project.innerHTML.includes(tag)?'':'none';
      }
    }
    update();
    window.onhashchange = update;
  </script>
</div>
