---
layout: default
---
<div class="project-page">
  <div class="header">
    <h1>{{ page.title }}</h1>
    {% include tags.html tags=page.tags %}
  </div>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li id="project"><a href="/projects.html">Projects</a></li>
    <li class="active">{{ page.title }}</li>
  </ol>
  {% assign image_base = page.path | split: '/' | last | replace: '.md', '' %}
  <div class="body">
    <div class="image">
      <a href="/projects/assets/{{image_base}}.webp">
        <img src="/projects/assets/{{image_base}}.webp">
      </a>
    </div>
    {{content}}
  </div>
  <div class="thumb">
    {% for image in page.additional_images %}
    <a href="/projects/assets/{{image_base}}-{{image}}">
      <img src="/projects/assets/{{image_base}}-{{image}}">
    </a>
    {% endfor %}
  </div>
</div>
